* {
    font-family: 'Nunito', sans-serif;
}
.header {
    display: flex;
    justify-content: center;
    height: 52.742vh;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 52.742vh;
}
.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.top_navbar {
    width: 100vw;
    max-height: 23.2vh;
    background-color: #0C4B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.address_phone {
    display: flex;
    justify-content: space-around;
}
.address_phone img {
    display: block;
}
.address_phone a {
    margin-right: 5.3vw;
}
.address_phone span {
    display: none;
}
.language {
    display: flex;
    align-items: center;
}
.address_phone, .language {
    padding: 8.438vh 5.333vw 6.329vh 5.333vw;
}
.language a {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
    color: #FFFFFF;
    padding-right: 1.333vw;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 29.535vh;
    max-height: 29.535vh;
    padding: 0 4vw 0 4vw;
    background-color: white;
}
.call_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 29.333vw;
}
.call_menu span {
    display: none;
}
.call_menu > a:first-child {
    background-color: #00730C;
    border-radius: 10px;
    width: 40px;
    height: 34px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.call_menu > a:first-child img {
    width: 20px;
    height: 20px;
}
.menu {
    display: none;
}

@media (min-width:1920px) {
    .container, header {
        height: 16.6859vh;
    }
    .top_navbar {
        height: 6.836vh;
        max-height: 6.836vh;
        padding: 1.969vh 13.072vw 1.969vh 13.072vw;
    }
    .navbar {
        height: 9.849vh;
        max-height: 9.849vh;
        padding: 1.738vh 13.333vw 1.738vh 13.333vw;
        justify-content: flex-start;
    }
    .address_phone, .language {
        padding: 0;
    }
    .address_phone span, .call_menu span {
        display: block;
        color: #FFFFFF;
    }
    .language a {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        margin-right: 0.52vw;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }
    .language img {
        width: 12px;
        height: 7px;
        margin: 0;
    }
    .address_phone a {
        display: flex;
        margin-right: 1.562vw;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
    }
    .address_phone img {
        margin-right: 0.52vw;
        height: 25px;
        width: 25px;
    }
    .call_menu {
        justify-content: flex-end;
        flex-direction: row-reverse;
        width: 100%;
    }
    .call_menu > a:first-child {
        display: flex;
        align-items: center;
        background-color: #00730C;
        padding: 1.274vh 1.7968vw 1.274vh 1.7968vw;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        text-decoration: none;
        border-radius: 5px;
        width: auto;
        height: 100%;
    }
    .call_menu > a:first-child img {
        width: 30px;
        height: 30px;
        display: block;
        margin-right: 0.52vw;
    }
    .call_menu a:nth-child(2) {
        display: none;
    }
    .menu {
        display: flex;
        align-items: center;
    }
    .menu a {
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #212529;
        text-align: center;
        display: flex;
    }
    .menu a img:nth-child(2) {
        display: none;
    }
    .menu li {
        margin-right: 2.291vw;
        display: flex;
        align-items: center;
    }
    .menu li:last-child {
        margin-right: 5.26vw;
    }
    .menu img {
        margin-left: 0.26vw;
        align-self: center;
        padding-right: 0;
    }
    .navbar > a:first-child {
        margin-right: 20.3125vw;
    }
    .menu li a:hover {
        color: #00730C;
    }
    .menu li:hover a img:first-child {
        display: none;
    }
    .menu li:hover a img:nth-child(2){
        display: inline;
    }
}