* {
    font-family: 'Nunito', sans-serif;
}
header {
    display: flex;
    justify-content: center;
    height: 125px;
}
.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 125px;
}
.top_navbar {
    background-color: #0C4B35;
    height: 55px;
    display: flex;
    align-items: center;
    width: 100%;
}
.container_top_navbar {
    width: 335px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.address_phone {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.address_phone img {
    display: block;
}
.address_phone span {
    display: none;
}
.language {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}
.language a {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}
.language img {
    width: 7px;
    height: 3.82px;
}
.navbar {
    background-color: white;
    height: 70px;
    display: flex;
    align-items: center;
    width: 100%;
}
.container_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 345px;
}
.call_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
}
.call_menu span {
    display: none;
}
.call_menu > a:first-child {
    background-color: #00730C;
    border-radius: 10px;
    width: 40px;
    height: 34px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.call_menu > a:first-child img {
    width: 20px;
    height: 20px;
}
.menu {
    display: none;
}

@media (min-width:1600px) {
    .row {
        height: 144px;
    }
    .top_navbar {
        height: 59px;
        max-height: 59px;
        width: 100%;
        justify-content: center;
    }
    .container_top_navbar {
        width: 1418px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar {
        height: 85px;
        max-height: 85px;
        width: 100%;
        justify-content: center;
    }
    .container_navbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 1410px;
    }
    .container_navbar > a img {
        width: 120px;
        height: 55px;
    }
    .address_phone, .language {
        padding: 0;
    }
    .address_phone span, .call_menu span {
        display: block;
        color: #FFFFFF;
    }
    .language a {
        padding: 0;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
    }
    .language img {
        width: 12px;
        height: 6.84px;
        margin: 0;
    }
    .address_phone {
        gap: 30px;
    }
    .address_phone a {
        display: flex;
        margin-right: 30px;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        gap: 10px;
    }
    .address_phone img {
        height: 25px;
        width: 25px;
    }
    .call_menu {
        flex-direction: row-reverse;
        width: 100%;
        justify-content: flex-start;
    }
    .call_menu > a:first-child {
        display: flex;
        align-items: center;
        background-color: #00730C;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        text-decoration: none;
        border-radius: 5px;
        width: 170px;
        height: 50px;
        gap: 10px;
    }
    .call_menu > a:first-child img {
        width: 25px;
        height: 33px;
        display: block;
    }
    .call_menu a:nth-child(2) {
        display: none;
    }
    .menu {
        display: flex;
        align-items: center;
        gap: 44px;
    }
    .menu a {
        text-decoration: none;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-transform: capitalize;
        color: #212529;
        text-align: center;
        display: flex;
        gap: 4px;
    }
    .menu a img:nth-child(2) {
        display: none;
    }
    .menu li {
        display: flex;
        align-items: center;
    }
    .menu li:last-child {
        margin-right: 101px;
    }
    .menu img {
        align-self: center;
    }
    .menu li a:hover {
        color: #00730C;
    }
    .menu li:hover a img:first-child {
        display: none;
    }
    .menu li:hover a img:nth-child(2){
        display: inline;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container_top_navbar {
        width: 716px;
    }
    .container_navbar {
        width: 720px;
    }
}


