.imagenone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
img {
    display: block;
}
.container {
    width: 100%;
    padding: 0 4.133vw 0 3.866vw;
}
.row {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.entry {
    background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
}
.firstline {
    display: flex;
    align-items: center;
    margin-bottom: 4.219vh;
}
.firstline li {
    margin-left: 1.333vw;
}
.firstline li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #212529;
    line-height: 19px;
}
.secondline {
    margin-bottom: 6.329vh;
}
.secondline a {
    text-decoration: none;
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    color: #212529;
}
.thirdline {
    margin-bottom: 16.877vh;
}
.thirdline a {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #212529;
    text-decoration: none;
}
.buttonGetAQuate {
    align-self: center;
}
.buttonGetAQuate button {
    background-color: #00730C;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 5.063vh 28vw 5.063vh 28vw;
}
.fourthline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 8.438vh;
}
.fourthline li {
    width: 29.333vw;
}
.fourthline li a {
    text-decoration: none;
    color: #00730C;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
.fourthline img {
    margin-left: 3.2vw;
    align-self: center;
    display: block;
}
.fifthline {
    padding: 0;
}
.fifthline button {
    border-radius: 32px;
    background-color: linear-gradient(180deg, #FFF8F1 0%, #D7E8D9 100%);
    border: none;
    padding: 3.375vh 2.666vw 3.375vh 2.666vw;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #212529;
}
.fifthline button:first-child {
    margin-right: 3.2vw;
}
.fifthline span {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    margin-right: 2.133vw;
    color: #212529;
}
.services h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #212529; 
    text-align: center;
    margin-top: 21.097vh;
    margin-bottom: 6.329vh;
}
span {
    color: #00730C;
}
.services p {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
    margin-bottom: 12.658vh;
}
.service {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    margin-bottom: 8.438vh;
    padding: 8.438vh 5.333vw 8.438vh 5.333vw;
}
.service:last-child {
    margin: 0;
}
.service li {
    text-align: left;
    text-decoration: none;
    padding-left: 5.333vw;
}
.service li a {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #212529;
    text-decoration: none;
}
.service li:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
    padding-top: 4.219vh;
}
.picturesnone img{
    height: 500px;
    width: 50px;
    margin-top: 50px;
}
.aboutcompany h1 {
    margin-top: 12.658vh;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #212529; 
    text-align: left;
    margin-bottom: 6.329vh;
}
.aboutcompany p {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
    margin-bottom: 12.658vh;
}
.servicesAboutCompany {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.serviceAboutCompany {
    width: calc(50% - 2.666vw);
    margin-bottom: 8.438vh;
    padding: 6.329vh 4vw 6.329vh 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}
.serviceAboutCompany:nth-child(1), .serviceAboutCompany:nth-child(3) {
    margin-right: 5.333vw;
}
.serviceAboutCompany li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #212529;
}
.serviceAboutCompany > a {
    margin-bottom: 1.476vh;
    align-self: center;
}
.discovermore {
    margin-top: 4.219vh;
    text-align: center;
    margin-bottom: 21.097vh;
}
.discovermore button {
    background-color: #00730C;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    padding: 4.219vh 8vw 4.219vh 8vw;
    text-align: center;
}
.whyChooseUs {
    background-color: #0C4B35;
    display: flex;
    justify-content: center;
}
.needpicture img {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 30px;
} 
.whyChooseUs h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF; 
    text-align: center;
    margin-top: 21.097vh;
    margin-bottom: 6.329vh;
}
.whyChooseUs p {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    padding-bottom: 12.658vh;
}
.properTakeCare {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.proper {
    display: flex;
    margin-bottom: 8.86vh;
    width: calc(50% - 3.866vw);
    align-items: center;
}
.proper:nth-child(1), .proper:nth-child(3) {
    margin-right: 7.733vw;
}
.proper a {
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
.tick {
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2.666vw;
}

@media (min-width: 1920px) {
    .container {
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    .entry .container {
        flex-direction: row-reverse;
        padding: 0;
    }
    .firstline, .secondline, .thirdline {
        background: none;
    }
    .imagenone img {
        width: 1013px;
        height: 673px;
        margin: 5.33vh 0 0 4.843vw;
    }
    .imagenone2 {
        align-self: flex-end;
    }
    .imagenone2 img {
        width: 197px;
        height: 278px;
        margin: 0 3.072vw 6.952vh 0;
    }
    .entry .row {
        padding: 15.411vh 0 11.587vh 0;
    }
    .firstline {
        display: flex;
        align-items: center;
        margin-bottom: 2.317vh;
    }
    .firstline li {
        margin-left: 0.26vw;
    }
    .firstline li a {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }
    .secondline {
        margin-bottom: 2.317vh;
    }
    .secondline a {
        font-weight: 800;
        font-size: 58px;
        line-height: 79px;
    }
    .thirdline {
        margin-bottom: 5.7937vh;
    }
    .thirdline a {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }
    .button_fouthline1920 {
        display: flex;
        align-items: center;
    }
    .buttonGetAQuate {
        align-self: flex-start;
    }
    .buttonGetAQuate button {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        padding: 1.506vh 1.822vw 1.506vh 1.822vw;
    }
    .fourthline {
        margin: 0 0 0 1.5625vw;
    }
    .fourthline li {
        width: 100%;
    }
    .fourthline li a {
        color: #676767;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
    }
    .fourthline img {
        margin-left: 0.7812vw;
        width: 20px;
        height: 16px;
    }
    .fifthline {
        padding: 1.7381vh 0 14.767vh 1.7381;
        flex-wrap: nowrap;
        margin-top: 6.4889vh;
        display: flex;
    }
    .fifthline button {
        padding: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        background: none;
        border: none;
        border-radius: 0;
        width: calc(33.33333% - 0.3472vw);
        text-align: left;
    }
    .fifthline button:first-child, .fifthline button:nth-child(2)  {
        margin-right: 0.52vw;
    }
    .fifthline button:last-child {
        margin-right: 4.6354vw;
    }
    .fifthline span {
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        margin-right: 0.52vw;
        border-radius: 35px;
        background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .services .container {
        flex-direction: column;
    }
    .services h1 {
        font-weight: 800;
        font-size: 45px;
        line-height: 61px;
        color: #212529; 
        margin-top: 11.587vh;
        margin-bottom: 3.476vh;
    }
    .services p {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #676767;
        margin-bottom: 5.793vh;
        max-width: 59.166vw;
        align-self: center;
    }
    .services .row {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .service {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(25% - 1.171875vw);
        padding: 6.952vh 2.291vw 6.952vh 2.291vw;
        margin-bottom: 3.476vh;
        margin-right: 1.5625vw;
    }
    .service li {
        text-align: center;
        padding: 0;
        max-width: 243px;
    }
    .service li:first-child {
        margin-top: 5.793vh;
    }
    .service li:nth-child(2) {
        padding: 0;
        margin-top: 1.158vh;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
    }
    .service li a {
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
    }
    .service img {
        height: 70px;
        width: 70px;
    }
    .service:last-child, .service:nth-child(4) {
        margin-bottom: 3.476vh;
        margin-right: 0;
    }
    .service:hover {
        background-color: #00730C;
    }
    .service:hover li:last-child {
        color: #FFFFFF;
    }
    .service:hover li a {
        color: #FFF8F1;
    }
    .aboutcompany .container {
        padding: 11.587vh 13.281vw 12.977vh 13.281vw;
    }
    .row {
        padding: 5.156vh 0 6.083vh 0;
    }
    .picturesnone img {
        width: 700px;
        height: 700px;
        margin-right: 1.406vw;
    }
    .serviceAboutCompany {
        width: calc(50% - 0.78125vw);
        margin-bottom: 3.476vh;
        flex-direction: row;
        padding: 1.738vh 0.26vw 1.738vh 1.5625vw;
        align-items: center;
    }
    .serviceAboutCompany:nth-child(1), .serviceAboutCompany:nth-child(3) {
        margin-right: 1.5625vw;
    }
    .serviceAboutCompany:nth-child(3), .serviceAboutCompany:nth-child(4) {
        margin-bottom: 0;
    }
    .serviceAboutCompany li a {
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        text-align: left;
    }
    .serviceAboutCompany > a {
        margin: 0 1.5625vw 0 0;
    }
    .serviceAboutCompany img{
        width: 67px;
        height: 67px;
    }
    .aboutcompany h1 {
        font-weight: 800;
        font-size: 45px;
        line-height: 61px;
        margin: 0;
    }
    .aboutcompany p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        margin: 3.476vh 0 5.793vh 0;
    }
    .discovermore {
        text-align: left;
        margin-top: 5.793vh;
        margin-bottom: 0;
    }
    .discovermore button {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        padding: 1.506vh 1.822vw 1.506vh 1.822vw;
    }
    .whyChooseUs .container {
        padding: 17.96vh 13.281vw 17.96vh 13.281vw;
        flex-direction: row-reverse;
    }
    .needpicture img {
        width: 672px;
        height: 426px;
        margin: 0.521vh 0 0.753vh 4.322vw;
    }
    .whyChooseUs h1 {
        text-align: left;
        margin: 0;
        font-weight: 700;
        font-size: 45px;
        line-height: 61px;
    }
    .whyChooseUs p {
        text-align: left;
        margin: 3.476vh 0 5.793vh 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        padding: 0;
    }
    .proper {
        width: calc(50% - 3.0729vw);
        margin-bottom: 2.317vh;
    }
    .proper:nth-child(1), .proper:nth-child(3) {
        margin-right: 6.1458vw;
    }
    .proper:nth-child(3), .proper:nth-child(4) {
        margin-bottom: 0;
    }
    .proper a {
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
    }
    .tick {
        height: 30px;
        width: 30px;
        margin-right: 1.041vw;
    }
}