* {
    font-family: 'Nunito', sans-serif;
}
.container {
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    padding: 0 15px 0 15px;
}
.entry {
    width: 100%;
    height: 719px;
    display: flex;
    flex-direction: column;
    gap: 48.5px;
}
.entryBackground {
    background: url(image/entry_flowerpot.jpg) no-repeat bottom 15px left / 83px 118px, linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%) 100vw 719px;
    width: 100vw;
    height: inherit;
    right: 0;
    left: 0;
    position: absolute;
}
.entryImage {
    height: 240px;
    position: relative;
}
.entryImage::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: -15px;
    width: 100vw;
    height: 240px;
    background-image: url(image/skillup.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 240px;
}
[class*=line] {
    z-index: 1;
}
img {
    display: block;
}
.row {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}
.entryInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.firstline, .secondline, .thirdline {
    background: none;
}
.firstline {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
}
.firstline h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #212529;
}
.secondline {
    padding-bottom: 15px;
}
.secondline h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #212529; 
    text-align: left;
}
.thirdline {
    padding-bottom: 40px;
}
.thirdline h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #212529;
}
.button_fouthline1920 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 20.3px;
    padding-bottom: 41.3px;
}
.buttonGetAQuate button {
    background-color: #00730C;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 105px;
}
.seeHowItWorks {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}
.seeHowItWorks h6 {
    color: #00730C;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
.fifthline {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
}
.fifthline button {
    border-radius: 32px;
    background: linear-gradient(180deg, #FFF8F1 0%, #D7E8D9 100%);
    border: none;
    padding: 8px 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #212529;
    gap: 8px;
}
.fifthline span {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #212529;
}
.fifthline button:last-child {
    display: none;
}
.services {
    display: flex;
    flex-direction: column;
}
.article h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #212529; 
    text-align: center;
    padding: 0 0 15px 0;
}
span {
    color: #00730C;
}
.article h6 {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}
.service {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
    height: 116px;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
    border-radius: 5px;
    gap: 20px;
}
.serviceInfo {
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.serviceInfo h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #212529;
}
.serviceInfo h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}
.aboutcompanyImage img{
    height: 100%;
    width: 100%;
}
.aboutcompany .article {
    padding-bottom: 10px;
}
.servicesAboutCompany {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.serviceAboutCompany {
    width: 162px;
    height: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
    border-radius: 5px;
    gap: 5px;
    padding: 15px;
}
.serviceAboutCompany h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #212529;
}
.serviceAboutCompany img {
    width: 40px;
    height: 40px;
}
.discovermore {
    background-color: #00730C;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    width: 167px;
    height: 40px;
    align-self: center;
}
.whyChooseUs {
    background-color: #0C4B35;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 684px;
    gap: 30px;
}
.whyChooseUsBackground {
    position: absolute;
    background: #0C4B35;
    left: 0;
    right: 0;
    width: 100%;
    height: inherit;
}
.whyChooseUs .article {
    padding-bottom: 10px;
}
.whyChooseUs > img {
    width: 345px;
    height: 217px;
    z-index: 1;
} 
.whyChooseUs .row {
    z-index: 1;
}
.whyChooseUs h1 {
    color: #FFFFFF;
}
.whyChooseUs h6 {
    color: #FFFFFF;
    padding: 0 0 10px 0;
}
.properTakeCare {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 29px;
}
.proper {
    display: flex;
    width: 158px;
    align-items: center;
    gap: 10px;
}
.proper h5 {
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: capitalize;
}
.tick {
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.workingProcess {
    display: flex;
}
.processCards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.processCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    max-height: 208px;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
    border-radius: 10px;
    background: url(image/processBackgroung.jpg) no-repeat top 68.14px right 31px / 111.89px 76.23px ,#FFFFFF;
    padding: 20px;
}
.processImage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}
.processImage img {
    width: 50px;
    height: 50px;
}
.processImage h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    color: #E3E3E3;
}
.processInfo h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #212529;
    padding-bottom: 10px;
}
.processInfo h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}
.lawnServices {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-image: url(image/lawnServices.jpg);
    background-size: 100% inherit;
    background-repeat: no-repeat;
    background-position: center;
    height: 224px;
    width: 100%;
}
.lawnServices h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    width: 272px;
}
.lawnServices button {
    gap: 10px;
    padding: 0;
    display: flex;
    width: 137px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
    border-radius: 5px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #00730C;
    text-align: center;
}
.lawnServices button img {
    width: 20px;
    height: 17.58px;
}
.staff {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.wrapper {
    height: 343px; 
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.slider {
	height: 343px;
	overflow: hidden;
	position: relative;
	width: inherit;
    align-self: center;
}
.wrapper > input {
	display: none;
}
.slides {
	position: absolute;
	width: inherit;
}
.slide1, .slide2, .slide3, .slide4 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.slide1 {
    background-image: url(image/staff1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.slide2 {
    background-image: url(image/staff2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.slide3 {
    background-image: url(image/staff3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.slide4 {
    background-image: url(image/staff4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.staffInfo {
    background: linear-gradient(6.68deg, #00730C 4.95%, rgba(251, 246, 238, 0) 264.79%);
    border-radius: 5px;
    width: 100%;
    height: 62px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.staffInfo h4 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.staffInfo h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}
.staff .controls {
    height: 10px;
    width: 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
}
.staff label {
    cursor: pointer;
	display: inline-block;
	height: 6px;
	position: relative;
	width: 30px;
    transition: ease-in-out .5s;
    border-radius: 8px;
}
.staff label:after {
    border: 2px solid #00730C;
    border-radius: 8px;
	content: " ";
	display: block;
	height: 2px;
	width: 26px;
}
.staff label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4) {
	background: #00730C;
}
.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
    transform: scale(0.5);
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4 {
	opacity: 1;
	z-index: 0;
	transform: scale(1);
}
.clientsSayingBackground {
    position: absolute;
    background: #E6F6EA;
    box-shadow: inset 77.4px -77.4px 77.4px rgba(175, 187, 178, 0.099), inset -77.4px 77.4px 77.4px rgba(255, 255, 255, 0.099);
    backdrop-filter: blur(36.378px);
    height: 585px;
    width: 100vw;
    left: 0;
    right: 0;
}
.clientsSaying .article {
    z-index: 1;
    padding: 50px 0 40px 0;
}
.comments {
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
}
.comments img {
    width: 135px;
    height: 185px;
    padding-bottom: 43px;
}
.comments h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}
.worker {
    padding-top: 15px;
    display: flex;
    gap: 104px;
    align-items: center;
}
.workerInfo h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    color: #212529;
}
.workerInfo h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #676767;
}
.workerRating {
    display: flex;
    gap: 13.87px;
}
.workerRating img {
    width: 16px;
    height: 15px;
    padding: 0;
}
.askedQuestions .article {
    padding-bottom: 12px;
}
.listOfQuetions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.quetions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.quetion {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px 0 20px;
    width: 100%;
    height: 44px;
    background-color: #FFF8F1;
    border-radius: 3px;
}
.quetion h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #212529;
}
.quetion img {
    width: 16px;
    height: 16px;
}
.answer {
    padding: 0 16px 0 16px;
}
.answer h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}
.insightsArticles .row {
    gap: 40px;
}
.planting {
    display: flex;
    flex-direction: column;
    padding: 30px 20.5px 35px 20.5px;
    background: #FFFFFF;
    border-radius: 5px;
    gap: 30px;
}
.plantingArticle {
    width: 122px;
    height: 30px;
    background: #D9F1E0;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}
.plantingArticle h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #00730C;
    text-align: center;
}
.plantingInfo h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    color: #00730C;
    padding-bottom: 15px;
}
.plantingInfo h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}
.dateOfPubl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid #E3E3E3;
}
.dateOfPubl h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #676767;
}
.authorOfPubl {
    display: flex;
    gap: 11.67px;
    align-items: center;
}
.authorOfPubl h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}
.authorOfPubl img {
    width: 20px;
    height: 20px;
}
.sponsors {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    align-items: center;
    width: 100%;
}
.sponsors img:first-child {
    width: 141px;
    height: 70px;
}
.sponsors img:last-child {
    width: 112px;
    height: 70px;
}
 


@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 0;
        width: 720px;
        position: relative;
    }
    .entry {
        height: 819px;
    }
    .entryImage {
        height: 340px;
    }
    .entryImage::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: calc(360px - 50vw);
        width: 100vw;
        height: 340px;
        background-image: url(image/skillup.jpg);
        background-repeat: no-repeat;
        background-size: 100vw 340px;
    }
    .entryBackground {
        background: url(image/entry_flowerpot.jpg) no-repeat bottom 15px left / 83px 118px, linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%) 100vw 719px;
        width: 100vw;
        height: inherit;
        right: 0;
        left: calc(360px - 50vw);
        position: absolute;
    }
    .firstline {
        display: flex;
        align-items: center;
        gap: 5px;
        padding-bottom: 15px;
    }
    .firstline h6 {
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        color: #212529;
    }
    .secondline {
        padding-bottom: 20px;
    }
    .secondline h1 {
        font-size: 35px;
        line-height: 49px;
    }
    .thirdline {
        padding-bottom: 45px;
    }
    .thirdline h6 {
        font-size: 16px;
        line-height: 24px;
    }
    .button_fouthline1920 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        gap: 20.3px;
        padding-bottom: 41.3px;
    }
    .button_fouthline1920 {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: flex-start;
        gap: 15px;
        padding-bottom: 41px;
    }
    .buttonGetAQuate button {
        background-color: #00730C;
        border: none;
        border-radius: 5px;
        width: 100%;
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 21px;
        padding: 12px 25px;
    }
    .seeHowItWorks {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 8px;
    }
    .seeHowItWorks h6 {
        color: #00730C;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
    }
    .fifthline {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-self: flex-end;
        gap: 7px;
    }
    .fifthline button {
        border-radius: 32px;
        background: linear-gradient(180deg, #FFF8F1 0%, #D7E8D9 100%);
        border: none;
        padding: 10px 12px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        display: flex;
        align-items: center;
        color: #212529;
        gap: 12px;
    }
    .fifthline span {
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        color: #212529;
    }
    .fifthline button:last-child {
        display: flex;
    }
    .article h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 45px;
        color: #212529; 
        text-align: center;
        padding: 0 0 15px 0;
    }
    .article h6 {
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #676767;
    }
    .serviceAll {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .service {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 345px;
        height: 366px;
        box-shadow: none;
        border-radius: 10px;
        gap: 30px;
    }
    .serviceInfo {
        display: flex;
        flex-direction: column;
    }
    .serviceInfo h5 {
        font-size: 19px;
        line-height: 27px;
        text-align: center;
    }
    .serviceInfo h6 {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        width: 243px;
        font-family: 'Poppins', sans-serif;
    }
    .service img {
        width: 70px;
        height: 70px;
    }
    .aboutcompanyImage img{
        height: 100%;
        width: 100%;
    }
    .aboutcompany .row {
        display: flex;
        flex-direction: row;
        gap: 30px;
        position: relative;
    }
    .aboutcompany .article {
        padding: 0;
        width: 350px;
    }
    .aboutcompany .article h1 {
        text-align: left;
        padding-bottom: 20px;
    }
    .aboutcompany .article h6 {
        text-align: left;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }
    .servicesAboutCompany {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        align-items: flex-start;
        max-width: 340px;
        max-height: 450px;
    }
    .serviceAboutCompany {
        width: 160px;
        height: 175px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
        border-radius: 5px;
        gap: 10px;
        padding: 0;
    }
    .serviceAboutCompany h5 {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #212529;
    }
    .serviceAboutCompany img {
        width: 50px;
        height: 50px;
    }
    .aboutcompany .discovermore {
        background-color: #00730C;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 22px;
        border-radius: 5px;
        border: none;
        color: #FFFFFF;
        text-align: center;
        width: 167px;
        height: 60px;
        align-self: flex-end;
        justify-self: center;
        position: absolute;
        left: 65%;
        right: 50%;
    }
    .whyChooseUs {
        height: 784px;
    }
    .whyChooseUsBackground {
        position: absolute;
        background: #0C4B35;
        left: calc(360px - 50vw);
        right: 0;
        width: 100vw;
        height: inherit;
    }
    .whyChooseUs .article {
        padding: 0;
        max-width: 500px;
        align-self: center;
    }
    .whyChooseUs > img {
        width: 720px;
        height: 317px;
        z-index: 1;
    } 
    .whyChooseUs .row {
        z-index: 1;
    }
    .whyChooseUs h1 {
        color: #FFFFFF;
    }
    .whyChooseUs h6 {
        color: #FFFFFF;
        padding: 0 0 10px 0;
    }
    .properTakeCare {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 34px;
    }
    .proper {
        display: flex;
        flex-direction: column;
        width: 154.5px;
        align-items: center;
        gap: 10px;
    }
    .proper h5 {
        text-align: left;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        color: #FFFFFF;
        text-transform: capitalize;
    }
    .tick {
        height: 30px;
        width: 30px;
        background-color: #FFFFFF;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tick img {
        width: 20px;
        height: 14.69px;
    }
    .whyChooseUs .discovermore {
        background-color: #00730C;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 22px;
        border-radius: 5px;
        border: none;
        color: #FFFFFF;
        text-align: center;
        width: 267px;
        height: 60px;
        align-self: center;
    }
}


@media (min-width: 1024px) and (max-width: 1200px) {
    .container {
        padding: 0;
        width: 970px;
    }
    .row {
        gap: 40px;
    }
    .entry {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 53px;
        height: 559px;
    }
    .entryBackground {
        background: url(image/entry_flowerpot.jpg) no-repeat bottom 30px left / 117px 208px, linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%) 100vw 719px;
        width: 100vw;
        height: inherit;
        left: calc(485px - 50vw);
        right: 0;
        position: absolute;
    }
    .entryImage {
        height: 513px;
        position: relative;
    }
    .entryImage::after {
        content: "";
        position: absolute;
        top: 46px;
        right: 0;
        left: 0;
        width: calc(50vw - 68px);
        height: 513px;
        background-image: url(image/skillup.jpg);
        background-repeat: no-repeat;
        background-size: calc(50vw - 68px) 513px;
    }
    .entry .row {
        justify-content: center;
        width: 500px;
        align-items: flex-end;
    }
    .entryInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding-top: 25px;
        width: 400px;
    }
    .firstline {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 0;
    }
    .firstline h6 {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #212529;
    }
    .secondline {
        padding: 0;
    }
    .secondline h5 {
        font-style: normal;
        font-weight: 800;
        font-size: 38px;
        line-height: 46px;
        color: #212529; 
        text-align: left;
    }
    .thirdline {
        padding-bottom: 25px;
    }
    .thirdline h6 {
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 26px;
        color: #676767;
    }
    .button_fouthline1920 {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: flex-start;
        gap: 20px;
        padding-bottom: 33px;
    }
    .buttonGetAQuate button {
        background-color: #00730C;
        border: none;
        border-radius: 5px;
        width: 100%;
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 22px;
        padding: 11px 28px;
    }
    .seeHowItWorks {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;
    }
    .seeHowItWorks h6 {
        color: #00730C;
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 25px;
    }
    .fifthline {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-self: flex-start;
    }
    .fifthline button {
        border: none;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: row;
        color: #212529;
        gap: 5px;
        background: none;
    }
    .fifthline span {
        border-radius: 35px;
        background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #212529;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 5px;
        width: 30px;
        height: 30px;
    }
    .fifthline:last-child button {
        display: flex;
    }
    .article h1 {
        font-weight: 800;
        font-size: 35px;
        line-height: 48px;
        color: #212529; 
    }
    .article h6 {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #676767;
    }
    .serviceAll {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .service {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 227.5px;
        height: 266px;
        box-shadow: none;
        border-radius: 10px;
        gap: 30px;
    }
    .serviceInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .serviceInfo h5 {
        font-size: 23px;
        line-height: 30px;
        text-align: center;
    }
    .serviceInfo h6 {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        width: 183px;
        font-family: 'Poppins', sans-serif;
        align-self: center;
    }
    .service img {
        width: 50px;
        height: 50px;
    }
    .aboutcompany {
        display: flex;
        gap: 15px;
    }
    .aboutcompanyImage img{
        width: 356px;
        height: 603px;
    }
    .aboutcompany .article {
        padding: 0;
    }
    .aboutcompany .article h1 {
        text-align: left;
        padding-bottom: 20px;
    }
    .aboutcompany .article h6 {
        text-align: left;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        width: 100%;
    }
    .servicesAboutCompany {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px 30px;
    }
    .serviceAboutCompany {
        width: 227.5px;
        height: 77px;
        flex-direction: row;
        box-shadow: none;
        gap: 20px;
        padding: 0;
    }
    .serviceAboutCompany h5 {
        font-size: 20px;
        line-height: 25px;
        text-align: left;
    }
    .serviceAboutCompany img {
        width: 47px;
        height: 47px;
    }
    .discovermore {
        font-size: 17px;
        line-height: 22px;
        border-radius: 5px;
        width: 140px;
        height: 40px;
        align-self: flex-start;
    }
    .whyChooseUs {
        flex-direction: row-reverse;
        width: 100%;
        height: 559px;
        gap: 35px;
    }
    .whyChooseUsBackground {
        left: calc(485px - 50vw);
        width: 100vw;
    }
    .whyChooseUs .row {
        width: 450px;
    }
    .whyChooseUs .article {
        padding: 0;
    }
    .whyChooseUs > img {
        width: 400px;
        height: 326px;
        z-index: 1;
    } 
    .whyChooseUs h1 {
        padding-bottom: 20px;
        color: #FFFFFF;
    }
    .whyChooseUs h6 {
        padding: 0;
        text-align: left;
        color: #FFFFFF;
    }
    .properTakeCare {
        justify-content: flex-start;
        gap: 15px 20px;
    }
    .proper {
        width: 215px;
        gap: 10px;
    }
    .proper h5 {
        font-size: 20px;
        line-height: 25px;
    }
    .tick {
        height: 25px;
        width: 25px;
        border-radius: 50%;
    }
    .tick img {
        width: 18px;
        height: 13.69px;
    }
}


@media (min-width: 1200px) and (max-width: 1600px) {
    .container {
        padding: 0;
        width: 1170px;
    }
    .row {
        gap: 40px;
    }
    .entry {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 63px;
        height: 559px;
    }
    .entryBackground {
        background: url(image/entry_flowerpot.jpg) no-repeat bottom 30px left / 117px 208px, linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%) 100vw 719px;
        width: 100vw;
        height: inherit;
        left: calc(585px - 50vw);
        right: 0;
        position: absolute;
    }
    .entryImage {
        height: 513px;
        position: relative;
        justify-content: flex-end;
        width: auto;
    }
    .entryImage::after {
        content: "";
        position: absolute;
        top: 46px;
        right: 0;
        left: 0;
        // 100vw - 550 - 63 - (50vw - 585);
        width: calc(50vw - 28px); 
        height: 513px;
        background-image: url(image/skillup.jpg);
        background-repeat: no-repeat;
        background-size: calc(50vw - 118px) 513px;
    }
    .entry .row {
        justify-content: center;
        width: 550px;
        align-items: flex-end;
    }
    .entryInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding-top: 25px;
        width: 420px;
    }
    .firstline {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 0;
    }
    .firstline h6 {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #212529;
    }
    .secondline {
        padding: 0;
    }
    .secondline h5 {
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 58px;
        color: #212529; 
        text-align: left;
    }
    .thirdline {
        padding-bottom: 25px;
    }
    .thirdline h6 {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #676767;
    }
    .button_fouthline1920 {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: flex-start;
        gap: 20px;
        padding-bottom: 38px;
    }
    .buttonGetAQuate button {
        background-color: #00730C;
        border: none;
        border-radius: 5px;
        width: 100%;
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        padding: 12px 30px;
    }
    .seeHowItWorks {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;
    }
    .seeHowItWorks h6 {
        color: #00730C;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
    }
    .fifthline {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-self: flex-start;
    }
    .fifthline button {
        border: none;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: row;
        color: #212529;
        gap: 6px;
        background: none;
    }
    .fifthline span {
        border-radius: 35px;
        background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 19px;
        color: #212529;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 14px 6px;
        width: 40px;
        height: 40px;
    }
    .fifthline:last-child button {
        display: flex;
    }
    .article h1 {
        font-weight: 800;
        font-size: 38px;
        line-height: 45px;
        color: #212529; 
    }
    .article h6 {
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;
        color: #676767;
    }
    .serviceAll {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }
    .service {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 273.75px;
        height: 316px;
        box-shadow: none;
        border-radius: 10px;
        gap: 40px;
    }
    .serviceInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .serviceInfo h5 {
        font-size: 24px;
        line-height: 33px;
        text-align: center;
    }
    .serviceInfo h6 {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        width: 203px;
        font-family: 'Poppins', sans-serif;
        align-self: center;
    }
    .service img {
        width: 60px;
        height: 60px;
    }
    .aboutcompany {
        display: flex;
        gap: 18px;
    }
    .aboutcompanyImage img{
        width: 656px;
        height: 603px;
    }
    .aboutcompany .article {
        padding: 0;
    }
    .aboutcompany .article h1 {
        text-align: left;
        padding-bottom: 20px;
    }
    .aboutcompany .article h6 {
        text-align: left;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        width: 100%;
    }
    .servicesAboutCompany {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 25px 25px;
    }
    .serviceAboutCompany {
        width: 235.5px;
        height: 87px;
        flex-direction: row;
        box-shadow: none;
        gap: 20px;
        padding: 0;
    }
    .serviceAboutCompany h5 {
        font-size: 22px;
        line-height: 28px;
        text-align: left;
    }
    .serviceAboutCompany img {
        width: 57px;
        height: 57px;
    }
    .discovermore {
        font-size: 18px;
        line-height: 23px;
        border-radius: 5px;
        width: 170px;
        height: 45px;
        align-self: flex-start;
    }
    .whyChooseUs {
        flex-direction: row-reverse;
        width: 100%;
        height: 559px;
        gap: 35px;
    }
    .whyChooseUsBackground {
        left: calc(585px - 50vw);
        width: 100vw;
    }
    .whyChooseUs .row {
        width: 500px;
    }
    .whyChooseUs .article {
        padding: 0;
    }
    .whyChooseUs > img {
        width: 550px;
        height: 426px;
        z-index: 1;
    } 
    .whyChooseUs h1 {
        padding-bottom: 20px;
        color: #FFFFFF;
    }
    .whyChooseUs h6 {
        padding: 0;
        text-align: left;
        color: #FFFFFF;
    }
    .properTakeCare {
        justify-content: flex-start;
        gap: 20px 70px;
    }
    .proper {
        width: 215px;
        gap: 20px;
    }
    .proper h5 {
        font-size: 22px;
        line-height: 28px;
    }
    .tick {
        height: 28px;
        width: 28px;
        border-radius: 50%;
    }
    .tick img {
        width: 19px;
        height: 13.69px;
    }
}


@media (min-width: 1600px) {
    .container {
        padding: 0;
        width: 1410px;
    }
    .row {
        gap: 50px;
    }
    .entry {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 93px;
    }
    .entryBackground {
        background: url(image/entry_flowerpot.jpg) no-repeat bottom 60px left / 92px 178px, linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%) 100vw 719px;
        width: 100vw;
        height: inherit;
        left: calc(705px - 50vw);
        right: 0;
        position: absolute;
    }
    .entryImage {
        height: 673px;
        position: relative;
    }
    .entryImage::after {
        content: "";
        position: absolute;
        top: 46px;
        left: 0;
        width: 856px;
        height: 673px;
        background-image: url(image/skillup.jpg);
        background-repeat: no-repeat;
        background-size: 856px 673px;
    }
    .entry .row {
        justify-content: center;
        width: 556px;
    }
    .entryInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding-top: 33px;
        
    }
    .firstline {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 0;
    }
    .firstline h6 {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #212529;
    }
    .secondline {
        padding: 0;
    }
    .secondline h5 {
        font-style: normal;
        font-weight: 800;
        font-size: 58px;
        line-height: 79px;
        color: #212529; 
        text-align: left;
    }
    .thirdline {
        padding-bottom: 30px;
    }
    .thirdline h6 {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #676767;
    }
    .button_fouthline1920 {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: flex-start;
        gap: 30px;
        padding-bottom: 43px;
    }
    .buttonGetAQuate button {
        background-color: #00730C;
        border: none;
        border-radius: 5px;
        width: 100%;
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        padding: 13px 35px;
    }
    .seeHowItWorks {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 15px;
    }
    .seeHowItWorks h6 {
        color: #00730C;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
    }
    .fifthline {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-self: flex-start;
    }
    .fifthline button {
        border: none;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: row;
        color: #212529;
        gap: 10px;
        background: none;
    }
    .fifthline span {
        border-radius: 35px;
        background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        color: #212529;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 7px;
        width: 50px;
        height: 50px;
    }
    .fifthline:last-child button {
        display: flex;
    }
    .article h1 {
        font-weight: 800;
        font-size: 45px;
        line-height: 61px;
        color: #212529; 
    }
    .article h6 {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #676767;
    }
    .services .article h6 {
        padding: 0 137px 0 137px;
    }
    .serviceAll {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .service {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 330px;
        height: 366px;
        box-shadow: none;
        border-radius: 10px;
        gap: 50px;
    }
    .serviceInfo {
        display: flex;
        flex-direction: column;
    }
    .serviceInfo h5 {
        font-size: 24px;
        line-height: 33px;
        text-align: center;
    }
    .serviceInfo h6 {
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        width: 243px;
        font-family: 'Poppins', sans-serif;
    }
    .service img {
        width: 70px;
        height: 70px;
    }
    .aboutcompany {
        display: flex;
        gap: 27px;
    }
    .aboutcompanyImage img{
        width: 625px;
        height: 903px;
    }
    .aboutcompany .article {
        padding: 0;
    }
    .aboutcompany .article h1 {
        text-align: left;
        padding-bottom: 30px;
    }
    .aboutcompany .article h6 {
        text-align: left;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        width: 672px;
    }
    .servicesAboutCompany {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .serviceAboutCompany {
        width: 330px;
        height: 97px;
        flex-direction: row;
        box-shadow: none;
        gap: 30px;
        padding: 0;
    }
    .serviceAboutCompany h5 {
        font-size: 24px;
        line-height: 33px;
        text-align: left;
    }
    .serviceAboutCompany img {
        width: 67px;
        height: 67px;
    }
    .discovermore {
        font-size: 18px;
        line-height: 24px;
        border-radius: 5px;
        width: 190px;
        height: 50px;
        align-self: flex-start;
    }
    .whyChooseUs {
        flex-direction: row-reverse;
        justify-content: flex-end;
        width: 100%;
        height: 659px;
        gap: 83px;
    }
    .whyChooseUsBackground {
        left: calc(705px - 50vw);
    }
    .whyChooseUs .row {
        width: 656px;
    }
    .whyChooseUs .article {
        padding: 0;
    }
    .whyChooseUs > img {
        width: 672px;
        height: 426px;
        z-index: 1;
    } 
    .whyChooseUs h1 {
        padding-bottom: 30px;
        color: #FFFFFF;
    }
    .whyChooseUs h6 {
        padding: 0;
        text-align: left;
        color: #FFFFFF;
    }
    .properTakeCare {
        justify-content: flex-start;
        gap: 20px 118px;
    }
    .proper {
        width: 242px;
        gap: 20px;
    }
    .proper h5 {
        font-size: 24px;
        line-height: 33px;
    }
    .tick {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .tick img {
        width: 20px;
        height: 14.69px;
    }
}

