.imagenone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
img {
    display: block;
}
.container {
    width: 100%;
    padding: 0 4.133vw 0 3.866vw;
}
.row {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.entry {
    background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
}
.firstline {
    display: flex;
    align-items: center;
    padding-bottom: 4.219vh;
}
.firstline li {
    padding-left: 1.333vw;
}
.firstline li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #212529;
    line-height: 19px;
}
.secondline {
    padding-bottom: 6.329vh;
}
.secondline span {
    color: #00730C;
}
.secondline a {
    text-decoration: none;
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    color: #212529;
}
.thirdline {
    padding-bottom: 16.877vh;
}
.thirdline a {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #212529;
    text-decoration: none;
}
.buttonGetAQuate {
    align-self: center;
}
.buttonGetAQuate button {
    background-color: #00730C;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 5.063vh 28vw 5.063vh 28vw;
}
.fourthline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 8.438vh;
}
.fourthline li {
    width: 29.333vw;
}
.fourthline li a {
    text-decoration: none;
    color: #00730C;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
.fourthline img {
    padding-left: 3.2vw;
    align-self: center;
    display: block;
}
.fifthline {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 17.721vh 0 14.767vh 0;
}
.fifthline button {
    border-radius: 32px;
    background-color: linear-gradient(180deg, #FFF8F1 0%, #D7E8D9 100%);
    border: none;
    padding: 3.375vh 2.666vw 3.375vh 2.666vw;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #212529;
}
.fifthline button:first-child {
    margin-right: 3.2vw;
}
.fifthline span {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    padding-right: 2.133vw;
    color: #212529;
}
h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #212529; 
    text-align: center;
    padding-top: 21.097vh;
    padding-bottom: 6.329vh;
}
h1 span {
    color: #00730C;
}
p {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
    padding-bottom: 12.658vh;
}
.service {
    display: flex;
    align-items: center;
    background: red;
    margin-bottom: 8.438vh;
    padding: 8.438vh 5.333vw 8.438vh 5.333vw;
}
.service:last-child {
    margin: 0;
}
.service li {
    text-align: left;
    text-decoration: none;
    padding-left: 5.333vw;
}
.service li a {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #212529;
    text-decoration: none;
}
.service li:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
    padding-top: 4.219vh;
}
.picturesnone {
    height: 500px;
    background-color: gray;
    margin-top: 50px;
    margin-bottom: 30px;
}
.aboutcompany p {
    padding-bottom: 16.877vh;
    text-align: left;
}
.servicesAboutCompany {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.serviceAboutCompany {
    width: calc(50% - 2.666vw);
    margin-bottom: 8.438vh;
    padding: 6.329vh 4vw 6.329vh 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}
.serviceAboutCompany:nth-child(1), .serviceAboutCompany:nth-child(3) {
    margin-right: 5.333vw;
}
.serviceAboutCompany li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #212529;
}
.serviceAboutCompany > a {
    padding-bottom: 1.476vh;
}
.discovermore {
    margin-top: 4.219vh;
    text-align: center;
}
.discovermore button {
    background-color: #00730C;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    padding: 4.219vh 8vw 4.219vh 8vw;
    text-align: center;
}