* {
  box-sizing: border-box;
}

header .header {
  display: flex;
  justify-content: center;
  height: 52.742vh;
}
header .container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 52.742vh;
}
header .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
header .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
header .top_navbar {
  width: 100vw;
  max-height: 23.2vh;
  background-color: #0C4B35;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .address_phone {
  display: flex;
  justify-content: space-around;
}
header .address_phone img {
  margin-right: 5.3vw;
  display: block;
}
header .language {
  display: flex;
  align-items: center;
}
header .address_phone, header .language {
  padding: 8.438vh 5.333vw 6.329vh 5.333vw;
}
header .language a {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: white;
  padding-right: 1.333vw;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 29.535vh;
  max-height: 29.535vh;
  padding: 0 4vw 0 4vw;
  background-color: white;
}
header .call_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 29.333vw;
}

main .imagenone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main img {
  display: block;
}
main .container {
  width: 100%;
  padding: 0 4.133vw 0 3.866vw;
}
main .row {
  display: flex;
  flex-direction: column;
  width: 100%;
}
main .entry {
  background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
}
main .firstline {
  display: flex;
  align-items: center;
  padding-bottom: 4.219vh;
}
main .firstline li {
  padding-left: 1.333vw;
}
main .firstline li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #212529;
  line-height: 19px;
}
main .secondline {
  padding-bottom: 6.329vh;
}
main .secondline span {
  color: #00730C;
}
main .secondline a {
  text-decoration: none;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  color: #212529;
}
main .thirdline {
  padding-bottom: 16.877vh;
}
main .thirdline a {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #212529;
  text-decoration: none;
}
main .buttonGetAQuate {
  align-self: center;
}
main .buttonGetAQuate button {
  background-color: #00730C;
  border: none;
  border-radius: 5px;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 5.063vh 28vw 5.063vh 28vw;
}
main .fourthline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 8.438vh;
}
main .fourthline li {
  width: 29.333vw;
}
main .fourthline li a {
  text-decoration: none;
  color: #00730C;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
main .fourthline img {
  padding-left: 3.2vw;
  align-self: center;
  display: block;
}
main .fifthline {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 17.721vh 0 14.767vh 0;
}
main .fifthline button {
  border-radius: 32px;
  background-color: linear-gradient(180deg, #FFF8F1 0%, #D7E8D9 100%);
  border: none;
  padding: 3.375vh 2.666vw 3.375vh 2.666vw;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  color: #212529;
}
main .fifthline button:first-child {
  margin-right: 3.2vw;
}
main .fifthline span {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  padding-right: 2.133vw;
  color: #212529;
}
main h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
  text-align: center;
  padding-top: 21.097vh;
  padding-bottom: 6.329vh;
}
main h1 span {
  color: #00730C;
}
main p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
  padding-bottom: 12.658vh;
}
main .service {
  display: flex;
  align-items: center;
  background: red;
  margin-bottom: 8.438vh;
  padding: 8.438vh 5.333vw 8.438vh 5.333vw;
}
main .service:last-child {
  margin: 0;
}
main .service li {
  text-align: left;
  text-decoration: none;
  padding-left: 5.333vw;
}
main .service li a {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #212529;
  text-decoration: none;
}
main .service li:nth-child(2) {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
  padding-top: 4.219vh;
}
main .picturesnone {
  height: 500px;
  background-color: gray;
  margin-top: 50px;
  margin-bottom: 30px;
}
main .aboutcompany p {
  padding-bottom: 16.877vh;
  text-align: left;
}
main .servicesAboutCompany {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .serviceAboutCompany {
  width: calc(50% - 2.666vw);
  margin-bottom: 8.438vh;
  padding: 6.329vh 4vw 6.329vh 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
}
main .serviceAboutCompany:nth-child(1), main .serviceAboutCompany:nth-child(3) {
  margin-right: 5.333vw;
}
main .serviceAboutCompany li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #212529;
}
main .serviceAboutCompany > a {
  padding-bottom: 1.476vh;
}
main .discovermore {
  margin-top: 4.219vh;
  text-align: center;
}
main .discovermore button {
  background-color: #00730C;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  padding: 4.219vh 8vw 4.219vh 8vw;
  text-align: center;
}/*# sourceMappingURL=style.css.map */