* {
  box-sizing: border-box;
}

header * {
  font-family: "Nunito", sans-serif;
}
header .header {
  display: flex;
  justify-content: center;
  height: 52.742vh;
}
header .container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 52.742vh;
}
header .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
header .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
header .top_navbar {
  width: 100vw;
  max-height: 23.2vh;
  background-color: #0C4B35;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .address_phone {
  display: flex;
  justify-content: space-around;
}
header .address_phone img {
  display: block;
}
header .address_phone a {
  margin-right: 5.3vw;
}
header .address_phone span {
  display: none;
}
header .language {
  display: flex;
  align-items: center;
}
header .address_phone, header .language {
  padding: 8.438vh 5.333vw 6.329vh 5.333vw;
}
header .language a {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  color: #FFFFFF;
  padding-right: 1.333vw;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 29.535vh;
  max-height: 29.535vh;
  padding: 0 4vw 0 4vw;
  background-color: white;
}
header .call_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 29.333vw;
}
header .call_menu span {
  display: none;
}
header .call_menu > a:first-child {
  background-color: #00730C;
  border-radius: 10px;
  width: 40px;
  height: 34px;
  justify-content: center;
  align-items: center;
  display: flex;
}
header .call_menu > a:first-child img {
  width: 20px;
  height: 20px;
}
header .menu {
  display: none;
}
@media (min-width: 1920px) {
  header .container, header header {
    height: 16.6859vh;
  }
  header .top_navbar {
    height: 6.836vh;
    max-height: 6.836vh;
    padding: 1.969vh 13.072vw 1.969vh 13.072vw;
  }
  header .navbar {
    height: 9.849vh;
    max-height: 9.849vh;
    padding: 1.738vh 13.333vw 1.738vh 13.333vw;
    justify-content: flex-start;
  }
  header .address_phone, header .language {
    padding: 0;
  }
  header .address_phone span, header .call_menu span {
    display: block;
    color: #FFFFFF;
  }
  header .language a {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    margin-right: 0.52vw;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  header .language img {
    width: 12px;
    height: 7px;
    margin: 0;
  }
  header .address_phone a {
    display: flex;
    margin-right: 1.562vw;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
  }
  header .address_phone img {
    margin-right: 0.52vw;
    height: 25px;
    width: 25px;
  }
  header .call_menu {
    justify-content: flex-end;
    flex-direction: row-reverse;
    width: 100%;
  }
  header .call_menu > a:first-child {
    display: flex;
    align-items: center;
    background-color: #00730C;
    padding: 1.274vh 1.7968vw 1.274vh 1.7968vw;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    border-radius: 5px;
    width: auto;
    height: 100%;
  }
  header .call_menu > a:first-child img {
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 0.52vw;
  }
  header .call_menu a:nth-child(2) {
    display: none;
  }
  header .menu {
    display: flex;
    align-items: center;
  }
  header .menu a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #212529;
    text-align: center;
    display: flex;
  }
  header .menu a img:nth-child(2) {
    display: none;
  }
  header .menu li {
    margin-right: 2.291vw;
    display: flex;
    align-items: center;
  }
  header .menu li:last-child {
    margin-right: 5.26vw;
  }
  header .menu img {
    margin-left: 0.26vw;
    align-self: center;
    padding-right: 0;
  }
  header .navbar > a:first-child {
    margin-right: 20.3125vw;
  }
  header .menu li a:hover {
    color: #00730C;
  }
  header .menu li:hover a img:first-child {
    display: none;
  }
  header .menu li:hover a img:nth-child(2) {
    display: inline;
  }
}

main * {
  font-family: "Nunito", sans-serif;
}
main .imagenone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main img {
  display: block;
}
main .container {
  width: 100%;
  padding: 0 4.133vw 0 3.866vw;
}
main .row {
  display: flex;
  flex-direction: column;
  width: 100%;
}
main .entry {
  background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
}
main .imagenone2 {
  display: none;
}
main .firstline, main .secondline, main .thirdline {
  background: none;
}
main .firstline {
  display: flex;
  align-items: center;
  margin-bottom: 4.219vh;
  margin-top: 20.4641vh;
}
main .firstline li {
  margin-left: 1.333vw;
}
main .firstline li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #212529;
  line-height: 19px;
}
main .secondline {
  margin-bottom: 6.329vh;
}
main .secondline a {
  text-decoration: none;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  color: #212529;
}
main .thirdline {
  margin-bottom: 16.877vh;
}
main .thirdline li {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #212529;
  text-decoration: none;
}
main .buttonGetAQuate {
  align-self: center;
}
main .buttonGetAQuate button {
  background-color: #00730C;
  border: none;
  border-radius: 5px;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 5.063vh 28vw 5.063vh 28vw;
}
main .fourthline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 8.5654vh 0 17.4261vh 0;
}
main .fourthline li {
  width: 29.333vw;
}
main .fourthline li a {
  text-decoration: none;
  color: #00730C;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
main .fourthline img {
  margin-left: 3.2vw;
  align-self: center;
  display: block;
}
main .fifthline {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 14.7679vh 0;
}
main .fifthline button {
  border-radius: 32px;
  background: linear-gradient(180deg, #FFF8F1 0%, #D7E8D9 100%);
  border: none;
  padding: 3.375vh 2.666vw 3.375vh 2.666vw;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  color: #212529;
}
main .fifthline button:first-child {
  margin-right: 3.2vw;
}
main .fifthline span {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin-right: 2.133vw;
  color: #212529;
}
main .fifthline button:last-child {
  display: none;
}
main .services h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
  text-align: center;
  margin-top: 21.097vh;
  margin-bottom: 6.329vh;
}
main span {
  color: #00730C;
}
main .services p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
  margin-bottom: 12.658vh;
}
main .service {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  margin-bottom: 8.438vh;
  padding: 8.438vh 5.333vw 8.438vh 5.333vw;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
}
main .service:last-child {
  margin: 0;
}
main .service li {
  text-align: left;
  text-decoration: none;
  padding-left: 5.333vw;
}
main .service li a {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #212529;
  text-decoration: none;
}
main .service li:nth-child(2) {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
  padding-top: 4.219vh;
}
main .picturesnone img {
  height: 100%;
  width: 100%;
  margin-top: 50px;
}
main .aboutcompany h1 {
  margin-top: 12.658vh;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
  text-align: left;
  margin-bottom: 6.329vh;
}
main .aboutcompany p {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
  margin-bottom: 16.8776vh;
}
main .servicesAboutCompany {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .serviceAboutCompany {
  width: calc(50% - 2.666vw);
  margin-bottom: 8.438vh;
  padding: 6.329vh 4vw 6.329vh 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
}
main .serviceAboutCompany:nth-child(1), main .serviceAboutCompany:nth-child(3) {
  margin-right: 5.333vw;
}
main .serviceAboutCompany li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #212529;
}
main .serviceAboutCompany > a {
  margin-bottom: 1.476vh;
  align-self: center;
}
main .discovermore {
  margin-top: 4.219vh;
  text-align: center;
  margin-bottom: 21.097vh;
}
main .discovermore button {
  background-color: #00730C;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  padding: 4.219vh 8vw 4.219vh 8vw;
  text-align: center;
}
main .whyChooseUs {
  background-color: #0C4B35;
  display: flex;
  justify-content: center;
}
main .needpicture img {
  width: 345px;
  height: 217px;
  margin-top: 21.097vh;
  margin-bottom: 12.6582vh;
}
main .whyChooseUs h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 6.329vh;
}
main .whyChooseUs p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  padding-bottom: 12.658vh;
}
main .properTakeCare {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .proper {
  display: flex;
  margin-bottom: 8.86vh;
  width: calc(50% - 3.866vw);
  align-items: center;
}
main .proper:nth-child(1), main .proper:nth-child(3) {
  margin-right: 7.733vw;
}
main .proper a {
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
main .tick {
  height: 20px;
  width: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2.666vw;
}
@media (min-width: 1920px) {
  main .container {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  main .entry .container {
    flex-direction: row-reverse;
    padding: 0;
  }
  main .imagenone img {
    width: 1013px;
    height: 673px;
    margin: 5.33vh 0 0 4.843vw;
  }
  main .imagenone2 {
    align-self: flex-end;
    display: block;
  }
  main .imagenone2 img {
    width: 197px;
    height: 278px;
    margin: 0 3.072vw 6.952vh 0;
  }
  main .entry .row {
    padding: 15.411vh 0 11.587vh 0;
  }
  main .firstline {
    display: flex;
    align-items: center;
    margin: 0 0 2.317vh 0;
  }
  main .firstline li {
    margin-left: 0.26vw;
  }
  main .firstline li a {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  main .secondline {
    margin-bottom: 2.317vh;
  }
  main .secondline a {
    font-weight: 800;
    font-size: 58px;
    line-height: 79px;
  }
  main .thirdline {
    margin-bottom: 5.7937vh;
  }
  main .thirdline li {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  main .button_fouthline1920 {
    display: flex;
    align-items: center;
  }
  main .buttonGetAQuate {
    align-self: flex-start;
  }
  main .buttonGetAQuate button {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding: 1.506vh 1.822vw 1.506vh 1.822vw;
  }
  main .fourthline {
    margin: 0 0 0 1.5625vw;
  }
  main .fourthline li {
    width: 100%;
  }
  main .fourthline li a {
    color: #676767;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
  }
  main .fourthline img {
    margin-left: 0.7812vw;
    width: 20px;
    height: 16px;
  }
  main .fifthline {
    padding: 1.7381vh 0 14.767vh 1.7381;
    flex-wrap: nowrap;
    margin: 6.4889vh 0 0 0;
    display: flex;
  }
  main .fifthline button {
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background: none;
    border: none;
    border-radius: 0;
    width: calc(33.33333% - 0.3472vw);
    text-align: left;
  }
  main .fifthline button:first-child, main .fifthline button:nth-child(2) {
    margin-right: 0.52vw;
  }
  main .fifthline button:last-child {
    margin-right: 4.6354vw;
    display: flex;
  }
  main .fifthline span {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    margin-right: 0.52vw;
    border-radius: 35px;
    background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .services .container {
    flex-direction: column;
  }
  main .services h1 {
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    color: #212529;
    margin-top: 11.587vh;
    margin-bottom: 3.476vh;
  }
  main .services p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #676767;
    margin-bottom: 5.793vh;
    max-width: 59.166vw;
    align-self: center;
  }
  main .services .row {
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .service {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(25% - 1.171875vw);
    padding: 6.952vh 2.291vw 6.952vh 2.291vw;
    margin-bottom: 3.476vh;
    margin-right: 1.5625vw;
  }
  main .service li {
    text-align: center;
    padding: 0;
    max-width: 243px;
  }
  main .service li:first-child {
    margin-top: 5.793vh;
  }
  main .service li:nth-child(2) {
    padding: 0;
    margin-top: 1.158vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
  }
  main .service li a {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
  }
  main .service img {
    height: 70px;
    width: 70px;
  }
  main .service:last-child, main .service:nth-child(4) {
    margin-bottom: 3.476vh;
    margin-right: 0;
  }
  main .service:hover {
    background-color: #00730C;
  }
  main .service:hover li:last-child {
    color: #FFFFFF;
  }
  main .service:hover li a {
    color: #FFF8F1;
  }
  main .aboutcompany .container {
    padding: 11.587vh 13.281vw 12.977vh 13.281vw;
  }
  main .row {
    padding: 5.156vh 0 6.083vh 0;
  }
  main .picturesnone img {
    width: 700px;
    height: 700px;
    margin-right: 1.406vw;
  }
  main .serviceAboutCompany {
    width: calc(50% - 0.78125vw);
    margin-bottom: 3.476vh;
    flex-direction: row;
    padding: 1.738vh 0.26vw 1.738vh 1.5625vw;
    align-items: center;
  }
  main .serviceAboutCompany:nth-child(1), main .serviceAboutCompany:nth-child(3) {
    margin-right: 1.5625vw;
  }
  main .serviceAboutCompany:nth-child(3), main .serviceAboutCompany:nth-child(4) {
    margin-bottom: 0;
  }
  main .serviceAboutCompany li a {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: left;
  }
  main .serviceAboutCompany > a {
    margin: 0 1.5625vw 0 0;
  }
  main .serviceAboutCompany img {
    width: 67px;
    height: 67px;
  }
  main .aboutcompany h1 {
    font-weight: bold;
    font-size: 45px;
    line-height: 61px;
    margin: 0;
  }
  main .aboutcompany p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 3.476vh 0 5.793vh 0;
    font-family: "Poppins", sans-serif;
  }
  main .discovermore {
    text-align: left;
    margin-top: 5.793vh;
    margin-bottom: 0;
  }
  main .discovermore button {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding: 1.506vh 1.822vw 1.506vh 1.822vw;
  }
  main .whyChooseUs .container {
    padding: 17.96vh 13.281vw 17.96vh 13.281vw;
    flex-direction: row-reverse;
  }
  main .needpicture img {
    width: 672px;
    height: 426px;
    margin: 0.521vh 0 0.753vh 4.322vw;
  }
  main .whyChooseUs h1 {
    text-align: left;
    margin: 0;
    font-weight: 700;
    font-size: 45px;
    line-height: 61px;
  }
  main .whyChooseUs p {
    text-align: left;
    margin: 3.476vh 0 5.793vh 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 0;
  }
  main .proper {
    width: calc(50% - 3.0729vw);
    margin-bottom: 2.317vh;
  }
  main .proper:nth-child(1), main .proper:nth-child(3) {
    margin-right: 6.1458vw;
  }
  main .proper:nth-child(3), main .proper:nth-child(4) {
    margin-bottom: 0;
  }
  main .proper a {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
  }
  main .tick {
    height: 30px;
    width: 30px;
    margin-right: 1.041vw;
  }
}/*# sourceMappingURL=style.css.map */