* {
  box-sizing: border-box;
}

header * {
  font-family: "Nunito", sans-serif;
}
header header {
  display: flex;
  justify-content: center;
  height: 125px;
}
header .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 125px;
}
header .top_navbar {
  background-color: #0C4B35;
  height: 55px;
  display: flex;
  align-items: center;
  width: 100%;
}
header .container_top_navbar {
  width: 335px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .address_phone {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
header .address_phone img {
  display: block;
}
header .address_phone span {
  display: none;
}
header .language {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}
header .language a {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
}
header .language img {
  width: 7px;
  height: 3.82px;
}
header .navbar {
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
  width: 100%;
}
header .container_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 345px;
}
header .call_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
}
header .call_menu span {
  display: none;
}
header .call_menu > a:first-child {
  background-color: #00730C;
  border-radius: 10px;
  width: 40px;
  height: 34px;
  justify-content: center;
  align-items: center;
  display: flex;
}
header .call_menu > a:first-child img {
  width: 20px;
  height: 20px;
}
header .menu {
  display: none;
}
@media (min-width: 1600px) {
  header .row {
    height: 144px;
  }
  header .top_navbar {
    height: 59px;
    max-height: 59px;
    width: 100%;
    justify-content: center;
  }
  header .container_top_navbar {
    width: 1418px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .navbar {
    height: 85px;
    max-height: 85px;
    width: 100%;
    justify-content: center;
  }
  header .container_navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1410px;
  }
  header .container_navbar > a img {
    width: 120px;
    height: 55px;
  }
  header .address_phone, header .language {
    padding: 0;
  }
  header .address_phone span, header .call_menu span {
    display: block;
    color: #FFFFFF;
  }
  header .language a {
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
  }
  header .language img {
    width: 12px;
    height: 6.84px;
    margin: 0;
  }
  header .address_phone {
    gap: 30px;
  }
  header .address_phone a {
    display: flex;
    margin-right: 30px;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    gap: 10px;
  }
  header .address_phone img {
    height: 25px;
    width: 25px;
  }
  header .call_menu {
    flex-direction: row-reverse;
    width: 100%;
    justify-content: flex-start;
  }
  header .call_menu > a:first-child {
    display: flex;
    align-items: center;
    background-color: #00730C;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    border-radius: 5px;
    width: 170px;
    height: 50px;
    gap: 10px;
  }
  header .call_menu > a:first-child img {
    width: 25px;
    height: 33px;
    display: block;
  }
  header .call_menu a:nth-child(2) {
    display: none;
  }
  header .menu {
    display: flex;
    align-items: center;
    gap: 44px;
  }
  header .menu a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #212529;
    text-align: center;
    display: flex;
    gap: 4px;
  }
  header .menu a img:nth-child(2) {
    display: none;
  }
  header .menu li {
    display: flex;
    align-items: center;
  }
  header .menu li:last-child {
    margin-right: 101px;
  }
  header .menu img {
    align-self: center;
  }
  header .menu li a:hover {
    color: #00730C;
  }
  header .menu li:hover a img:first-child {
    display: none;
  }
  header .menu li:hover a img:nth-child(2) {
    display: inline;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  header .container_top_navbar {
    width: 716px;
  }
  header .container_navbar {
    width: 720px;
  }
}

main * {
  font-family: "Nunito", sans-serif;
}
main .container {
  width: 345px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
main .entry {
  width: 100%;
  height: 719px;
  display: flex;
  flex-direction: column;
  gap: 48.5px;
}
main .entryBackground {
  background: url(image/entry_flowerpot.jpg) no-repeat bottom 15px left/83px 118px, linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%) 100vw 719px;
  width: 100vw;
  height: inherit;
  right: 0;
  left: 0;
  position: absolute;
}
main .entryImage {
  height: 240px;
  position: relative;
}
main .entryImage::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 240px;
  background-image: url(image/skillup.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 240px;
}
main [class*=line] {
  z-index: 1;
}
main img {
  display: block;
}
main .row {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
main .entryInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .firstline, main .secondline, main .thirdline {
  background: none;
}
main .firstline {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
}
main .firstline h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #212529;
}
main .secondline {
  padding-bottom: 15px;
}
main .secondline h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
  text-align: left;
}
main .thirdline {
  padding-bottom: 40px;
}
main .thirdline h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #212529;
}
main .button_fouthline1920 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 20.3px;
  padding-bottom: 41.3px;
}
main .buttonGetAQuate button {
  background-color: #00730C;
  border: none;
  border-radius: 5px;
  width: 100%;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 105px;
}
main .seeHowItWorks {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}
main .seeHowItWorks h6 {
  color: #00730C;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
main .fifthline {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
}
main .fifthline button {
  border-radius: 32px;
  background: linear-gradient(180deg, #FFF8F1 0%, #D7E8D9 100%);
  border: none;
  padding: 8px 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  color: #212529;
  gap: 8px;
}
main .fifthline span {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #212529;
}
main .fifthline button:last-child {
  display: none;
}
main .services {
  display: flex;
  flex-direction: column;
}
main .article h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
  text-align: center;
  padding: 0 0 15px 0;
}
main span {
  color: #00730C;
}
main .article h6 {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}
main .service {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  width: 100%;
  height: 116px;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 5px;
  gap: 20px;
}
main .serviceInfo {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
main .serviceInfo h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #212529;
}
main .serviceInfo h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}
main .aboutcompanyImage img {
  height: 100%;
  width: 100%;
}
main .aboutcompany .article {
  padding-bottom: 10px;
}
main .servicesAboutCompany {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
main .serviceAboutCompany {
  width: 162px;
  height: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 5px;
  gap: 5px;
  padding: 15px;
}
main .serviceAboutCompany h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #212529;
}
main .serviceAboutCompany img {
  width: 40px;
  height: 40px;
}
main .discovermore {
  background-color: #00730C;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  width: 167px;
  height: 40px;
  align-self: center;
}
main .whyChooseUs {
  background-color: #0C4B35;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 684px;
  gap: 30px;
}
main .whyChooseUsBackground {
  position: absolute;
  background: #0C4B35;
  left: 0;
  right: 0;
  width: 100%;
  height: inherit;
}
main .whyChooseUs .article {
  padding-bottom: 10px;
}
main .whyChooseUs > img {
  width: 345px;
  height: 217px;
  z-index: 1;
}
main .whyChooseUs .row {
  z-index: 1;
}
main .whyChooseUs h1 {
  color: #FFFFFF;
}
main .whyChooseUs h6 {
  color: #FFFFFF;
  padding: 0 0 10px 0;
}
main .properTakeCare {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 29px;
}
main .proper {
  display: flex;
  width: 158px;
  align-items: center;
  gap: 10px;
}
main .proper h5 {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  text-transform: capitalize;
}
main .tick {
  height: 20px;
  width: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1600px) {
  main .container {
    padding: 0;
    width: 1410px;
    position: static;
  }
  main .row {
    gap: 50px;
  }
  main .entry {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 93px;
  }
  main .entryBackground {
    background: url(image/entry_flowerpot.jpg) no-repeat bottom 60px left/92px 178px, linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%) 100vw 719px;
    width: 100vw;
    height: inherit;
    left: 0;
    right: 0;
    position: absolute;
  }
  main .entryImage {
    height: 673px;
    position: relative;
  }
  main .entryImage::after {
    content: "";
    position: absolute;
    top: 46px;
    left: 0;
    width: 856px;
    height: 673px;
    background-image: url(image/skillup.jpg);
    background-repeat: no-repeat;
    background-size: 856px 673px;
  }
  main .entry .row {
    justify-content: center;
    width: 556px;
  }
  main .entryInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-top: 33px;
  }
  main .firstline {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0;
  }
  main .firstline h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #212529;
  }
  main .secondline {
    padding: 0;
  }
  main .secondline h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 79px;
    color: #212529;
    text-align: left;
  }
  main .thirdline {
    padding-bottom: 30px;
  }
  main .thirdline h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #676767;
  }
  main .button_fouthline1920 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    gap: 30px;
    padding-bottom: 43px;
  }
  main .buttonGetAQuate button {
    background-color: #00730C;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding: 13px 35px;
  }
  main .seeHowItWorks {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
  }
  main .seeHowItWorks h6 {
    color: #00730C;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
  }
  main .fifthline {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-start;
  }
  main .fifthline button {
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #212529;
    gap: 10px;
    background: none;
  }
  main .fifthline span {
    border-radius: 35px;
    background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 7px;
    width: 50px;
    height: 50px;
  }
  main .fifthline:last-child button {
    display: flex;
  }
  main .article h1 {
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    color: #212529;
  }
  main .article h6 {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #676767;
  }
  main .services .article h6 {
    padding: 0 137px 0 137px;
  }
  main .serviceAll {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  main .service {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 366px;
    box-shadow: none;
    border-radius: 10px;
    gap: 50px;
  }
  main .serviceInfo {
    display: flex;
    flex-direction: column;
  }
  main .serviceInfo h5 {
    font-size: 24px;
    line-height: 33px;
    text-align: center;
  }
  main .serviceInfo h6 {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    width: 243px;
    font-family: "Poppins", sans-serif;
  }
  main .service img {
    width: 70px;
    height: 70px;
  }
  main .aboutcompany {
    display: flex;
    gap: 27px;
  }
  main .aboutcompanyImage img {
    width: 625px;
    height: 903px;
  }
  main .aboutcompany .article {
    padding: 0;
  }
  main .aboutcompany .article h1 {
    text-align: left;
    padding-bottom: 30px;
  }
  main .aboutcompany .article h6 {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 672px;
  }
  main .servicesAboutCompany {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  main .serviceAboutCompany {
    width: 330px;
    height: 97px;
    flex-direction: row;
    box-shadow: none;
    gap: 30px;
    padding: 0;
  }
  main .serviceAboutCompany h5 {
    font-size: 24px;
    line-height: 33px;
    text-align: left;
  }
  main .serviceAboutCompany img {
    width: 67px;
    height: 67px;
  }
  main .discovermore {
    font-size: 18px;
    line-height: 24px;
    border-radius: 5px;
    width: 190px;
    height: 50px;
    align-self: flex-start;
  }
  main .whyChooseUs {
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
    height: 659px;
    gap: 83px;
  }
  main .whyChooseUs .row {
    width: 656px;
  }
  main .whyChooseUs .article {
    padding: 0;
  }
  main .whyChooseUs > img {
    width: 672px;
    height: 426px;
    z-index: 1;
  }
  main .whyChooseUs h1 {
    padding-bottom: 30px;
    color: #FFFFFF;
  }
  main .whyChooseUs h6 {
    padding: 0;
    text-align: left;
    color: #FFFFFF;
  }
  main .properTakeCare {
    justify-content: flex-start;
    gap: 20px 118px;
  }
  main .proper {
    width: 242px;
    gap: 20px;
  }
  main .proper h5 {
    font-size: 24px;
    line-height: 33px;
  }
  main .tick {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  main .tick img {
    width: 20px;
    height: 14.69px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .container {
    padding: 0;
    width: 720px;
    position: relative;
  }
  main .entry {
    height: 819px;
  }
  main .entryImage {
    height: 340px;
  }
  main .entryImage::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 340px;
    background-image: url(image/skillup.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 340px;
  }
  main .entryBackground {
    background: url(image/entry_flowerpot.jpg) no-repeat bottom 15px left/83px 118px, linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%) 100vw 719px;
    width: 100vw;
    height: inherit;
    right: 0;
    left: -24px;
    position: absolute;
  }
}/*# sourceMappingURL=style.css.map */